/* Header */
/* ----------------------------------------------------- */
.Header{
    display: grid;
    grid-template-columns: 59px 100px 1fr 100px 70px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0 0 1em black;
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
}
div#hOmE{
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}
div#Links{
    border-right: 1px solid gray;
    padding-left: 25%;
}
div#U11{
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
}
div#U12{
    border: 1px solid gray;
    border-radius: 10px;
    padding-left: 105px;
    padding-right: 105px;
    margin-left: 200px;
    text-align: center;
    width: 30%;
}
div#U13{
    border: 1px solid gray;
    border-radius: 10px;
    padding-left: 105px;
    padding-right: 105px;
}
div#U14{
    border: 1px solid gray;
    border-radius: 10px;
    padding-left: 105px;
    padding-right: 105px;
    float: left;
}
div#rechts{
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    padding-left: 25%;
}
div#abc{
    padding-left: 10px;
    padding-top: 2px;
    position:relative;
    display: inline-block;
}
.Index {
    display: none;
    position: absolute;
    right: 0;
    border: 1px solid black;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 2px 10px 0px black;
  }
div#abc:hover .Index {
    display: block;
}
.Index a {
    text-decoration: none;
    border-bottom: 1px solid grey;
    color: black;
    padding: 12px 16px;
    display: block;
}

/* ----------------------------------------------------- */
div#Links:hover{
    transition: 100ms ;
    background-color:rgb(136, 189, 241);
}
div#rechts:hover{
    transition: 100ms ;
    background-color:rgb(136, 189, 241);
}
div#hOmE:hover{
    transition: 100ms ;
    background-color:rgb(136, 189, 241);
}
div#abc:hover{
    transition: 100ms ;
    background-color:rgb(136, 189, 241);
}
.Index a:hover{
    transition: 100ms ;
    background-color:rgb(136, 189, 241);
}
/* ----------------------------------------------------- */

.question{
    border: 1px solid black;
    background-color: rgb(136, 189, 241);
    font-size: 28px;
}
.answer{
    border: 1px solid black;
    background-color: rgb(231, 231, 231);
}
#wireframe{
    border: 1px solid black;
    box-shadow: 0 0 1em black;
    padding: 30px;
    margin: 50px;
}
.Loesung{
    margin: 40px;
}
/* ----------------------------------------------------- */