body{
    background-color: #2d2d2d;
}
#Container{
    border: 2px solid darkred;
}
#h1{
    text-align: center;
}
a{
    text-align: center;
}
.Exercise{
    border: 2px solid red;
    margin: 10px;
    padding: 25px;
}