body{
    background-color: #2d2d2d;
}
#Container{
    border: 2px solid rgb(11, 134, 114);
    border-radius: 20px;
    background-color: #1d1d1d;
    margin-top: -8px;
    margin-left: 200px;
    margin-right: 200px;
}
#h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px white;
}
a{
    text-align: center;
}
.Exercise{
    border: 2px solid rgb(11, 134, 114);
    border-radius: 20px;
    margin: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 30px;
}